@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  font-family: "Montserrat" sans-serif;
}

/* Navbar */

@media only screen and (min-width: 1200px) {
  .nav-item > .nav-link {
    padding: 5px 20px !important;
    display: block !important;
  }

  .about {
    display: flex;
  }
  /*  Portfoilo */
  .portfolio ul li {
    font-size: 20px;
    padding: 12px 22px !important;
  }
  .portfolio ul {
    padding-left: 0;
  }
  .preview-box {
    height: 40rem !important;
  }
  .preview-box .image-box {
    height: 36rem !important;
  }
}

@media only screen and (max-width: 480px) {
  .about {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-img {
    display: flex;
    justify-content: center;
    width: 73% !important;
    margin-bottom: 2rem;
  }
  /* Recent Work */
  .slideshow-container {
    margin: 1rem !important;
    height: 26rem !important;
  }
  .mySlides {
    height: 22rem !important;
  }
  .youtube {
    height: 21rem !important;
  }
  .youtube .play {
    display: none;
  }
  .content-para {
    height: 7rem;
    font-size: 13px !important;
  }
  .text-center {
    height: 4rem !important;
  }
  .dots {
    margin-top: 5rem;
  }
  /*  Portfoilo */
  .portfolio ul li {
    font-size: 12px;
    padding: 10px 10px !important;
  }
  .portfolio ul {
    padding-left: 0;
  }
  .preview-box {
    height: 36rem;
  }
  .preview-box {
    height: 32rem !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about {
    display: flex !important;
    flex-direction: column-reverse;
  }

  .about-img {
    display: flex;
    justify-content: center;
    width: 78% !important;
    margin-bottom: 2rem;
  }
  /* Recent Work */
  .slideshow-container {
    margin: 1rem !important;
    height: 26rem !important;
  }
  .mySlides {
    height: 22rem !important;
  }
  .youtube {
    height: 21rem !important;
  }
  .youtube .play {
    display: none;
  }
  .content-para {
    height: 7rem;
    font-size: 13px !important;
  }
  .text-center {
    height: 4rem !important;
  }
  .dots {
    margin-top: 4rem;
  }
  /*  Portfoilo */
  .portfolio ul li {
    font-size: 16px;
    padding: 10px 10px !important;
  }
  .portfolio ul {
    padding-left: 0;
  }
  .preview-box {
    height: 37rem !important;
  }
  .preview-box .image-box {
    height: 33rem !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header-inner {
    background-color: white !important;
  }

  .nav-item > .nav-link {
    color: black !important;
  }

  .logo {
    color: #000 !important;
    font-weight: 600 !important;
  }

  .content-banner .first-title {
    font-size: 30px !important;
  }

  .about-img {
    width: 248% !important;
    height: 100%;
  }

  .aboutFirst {
    margin: 0px !important;
    width: 240%;
  }

  .aboutFirstH1 {
    font-size: 2rem;
  }

  .aboutFirstp {
    font-size: 0.9rem;
  }
  /*  Portfoilo */
  .portfolio ul li {
    font-size: 20px;
    padding: 12px 13px !important;
  }
  .portfolio ul {
    padding-left: 0;
  }
  .preview-box {
    height: 40rem !important;
  }
  .preview-box .image-box {
    height: 36rem !important;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .header-inner {
    background-color: white !important;
  }

  .nav-item > .nav-link {
    color: black !important;
  }

  .logo {
    color: #000 !important;
    font-weight: 600 !important;
  }

  .content-banner .first-title {
    font-size: 30px !important;
  }

  .about {
    display: flex;
    flex-direction: row;
  }

  .about-img {
    width: 164% !important;
    height: 100%;
  }
  /*  Portfoilo */
  .portfolio ul li {
    font-size: 23px;
    padding: 12px 25px !important;
  }
  .portfolio ul {
    padding-left: 0;
  }
  .preview-box {
    height: 45rem !important;
  }
  .preview-box .image-box {
    height: 41rem !important;
  }
}

.content-banner {
  color: #ffffff;
  width: 100%;
  /* min-height: 400px; */
  height: auto;
  position: relative;
  background-position: center center;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 0px;
}

.content-banner:before {
  position: absolute;
  content: "";
  width: 100%;
  /* height: auto; */
  background-color: rgba(29 29 29 / 60%);
  top: 0;
  left: 0;
  z-index: 1;
}

.content-banner .first-title {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  margin: 0px 0px 12px;
}

.content-banner .banner-des {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0;
  position: relative;
  z-index: 2;
  font-weight: 400;
  margin-top: 0;
}

.banner-btn {
  padding: 0 34px;
  z-index: 1;
  margin: 30px auto 25px;
  line-height: 56px;
  position: relative;
  border-radius: 6px;
  height: 56px;
  font-size: 16px;
  background-color: #fe4066;
  display: inline-block;
  color: #ffffff;
  transition: 0.3s;
  text-align: center;
}

.banner-btn:hover {
  text-decoration: none;
  color: #fe4066;
  background-color: white;
}

.header {
  position: relative;
  width: 100%;
}

.header-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}

.logo {
  color: #ffffff;
}

.nav-item .nav-link {
  display: block;
  line-height: 36px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  transition: 0.15s;
}

.nav-item .nav-link:hover {
  color: #fe4066;
}

.header-btn {
  color: #ffffff;
  border-radius: 30px;
  background-color: gray;
  border: none;
  font-weight: 500;
  outline: none;
  font-size: 15px;
  padding: 7px 22px;
  transition: 0.5s;
}

.header-btn:hover {
  background-color: #fe4066;
  cursor: pointer;
}

.navbar-scroll {
  background-color: #ffffff;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 0.6s;
}

.navbar-scroll .nav-item .nav-link {
  color: black;
}

.navbar-scroll .header-btn {
  color: #ffffff;
  background-color: #fe4066;
}

.navbar-scroll .logo {
  color: #000;
  font-weight: 500;
}

.first-title {
  text-transform: capitalize;
}

section {
  background-color: white;
  padding: 4rem 0rem 4rem;
}

section:nth-of-type() {
  background-color: #fe4066;
  color: white;
}
/* section:nth-of-type(even) {
  background-color: #fe4066;
  color: white;
} */

/* Navbar Ends */
.about {
  display: flex;
}

/* Slider */

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  height: 40rem;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev1,
.next1 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev1:hover,
.next1:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade1 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }

  .dot {
    height: 10px;
    width: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .prev1,
  .next1,
  .text {
    font-size: 14px;
  }
}
.content-para {
  font-size: 17px;
}

/* Slider */

/* Portfolio */

.portfolio {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px auto;
}
.portfolio ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.portfolio ul li {
  background: #fff;
  padding: 12px 20px;
  list-style: none;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease;
  border: 2px solid #03a9f4;
  font-weight: 500;
  color: black;
}
.portfolio ul li:hover {
  background-color: #03a9f4;
  color: #fff;
}
.portfolio ul li.active {
  background: #03a9f4;
  color: #fff;
}
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.3s ease;
}
.product .itemBox {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
  display: block;
  transition: all 0.3s ease;
}
.product .hide {
  display: none;
}
.product .itemBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  overflow: hidden;
}
.product .itemBox img:hover {
  transform: scale(1.1);
}

.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details {
  padding: 13px 15px 13px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details .title {
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p {
  font-weight: 500;
  margin-left: 5px;
}
.details .icon {
  color: #007bff;
  font-style: 22px;
  cursor: pointer;
}
.preview-box .image-box {
  width: 100%;
  display: flex;
}
.image-box img {
  width: 100%;
  border-radius: 0 0 3px 3px;
  object-fit: contain;
}
.shadow {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}
.shadow.show {
  display: block;
}
.product .itemBox.show {
  animation: animate 0.4s ease;
}
@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Portfolio */

/*  ================= CONTACT ==================== */
.contact-wrap {
  width: 80%;
  height: auto;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-shadow: 10px 10px 42px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 42px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 42px -3px rgba(0, 0, 0, 0.75);
}

.contact-in {
  padding: 40px 30px;
}

.contact-in:nth-child(1) {
  flex: 30%;
  background: url(../images/1.jpg);
  color: #fff;
}

.contact-in:nth-child(2) {
  flex: 45%;
  /* background: #c31432; */
}

.contact-in:nth-child(3) {
  flex: 25%;
  padding: 0;
}

.contact-in h1 {
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact-in h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.contact-in h2 i {
  font-size: 16px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: #f5f5f5;
  color: #000;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
}

.contact-in p {
  font-size: 14px;
  color: #000;

  font-weight: 300;
  margin-bottom: 20px;
}

.contact-in ul {
  padding: 0;
  margin: 0;
}

.contact-in ul li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}

.contact-in ul li a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #fff;
  border-radius: 50px;
}

.contact-in ul li a i {
  font-size: 14px;
  line-height: 30px;
  color: #000;
}

.contact-in form {
  width: 100%;
  height: auto;
}

.contact-in-input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  outline: none;
  padding-left: 5px;
  background: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.contact-in-input::placeholder {
  color: #fff;
}

.contact-in-textarea {
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  outline: none;
  padding-top: 5px;
  padding-left: 5px;
  background: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.contact-in-textarea::placeholder {
  color: #fff;
}

.contact-in-btn {
  width: 100%;
  height: 40px;
  border: 1px solid #fff;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.contact-in iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 480px) {
  .contact-in:nth-child(1) {
    flex: 50%;
  }

  .contact-in:nth-child(2) {
    flex: 50%;
  }

  .contact-in:nth-child(3) {
    flex: 100%;
  }
}

@media only screen and (max-width: 360px) {
  .contact-in:nth-child(1) {
    flex: 50%;
  }

  .contact-in:nth-child(2) {
    flex: 50%;
  }

  .contact-in:nth-child(3) {
    flex: 100%;
  }
}

/*  ================= FOOTER ==================== */
.footer__copy {
  display: block;
  padding: 2.5rem 0 2rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  background: #151515;
}
.container-foot {
  width: 100%;
  /* margin-left: 1.5rem; */
  /* margin-right: 1.5rem; */
  background: #151515;
}

/**********************
/***** Services *******
/*********************/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
section {
  padding: 60px 0;
}
section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#what-we-do {
  background: #ffffff;
}
#what-we-do .card {
  padding: 1rem !important;
  border: none;
  margin-bottom: 1rem;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#what-we-do .card:hover {
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block {
  padding-left: 50px;
  position: relative;
}
#what-we-do .card .card-block a {
  color: #007b5e !important;
  font-weight: 700;
  text-decoration: none;
}
#what-we-do .card .card-block a i {
  display: none;
}
#what-we-do .card:hover .card-block a i {
  display: inline-block;
  font-weight: 700;
}
#what-we-do .card .card-block:before {
  font-family: FontAwesome;
  position: absolute;
  font-size: 39px;
  color: #007b5e;
  left: 0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
#what-we-do .card .block-1:before {
  content: "\f0e7";
}
#what-we-do .card .block-2:before {
  content: "\f0eb";
}
#what-we-do .card .block-3:before {
  content: "\f00c";
}
#what-we-do .card .block-4:before {
  content: "\f209";
}
#what-we-do .card .block-5:before {
  content: "\f0a1";
}
#what-we-do .card .block-6:before {
  content: "\f218";
}
#what-we-do .card:hover .card-block:before {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
